div{
    border-radius: 7px;
    font-family: "Verdana", sans-serif;
    margin-bottom: 5px;
    text-align: center;
}

.theme {
background-color: ghostwhite;
height: 300px;
}

.options {
height: 70px;
background-color: gainsboro;
}

button{
    border: none;
    border-radius: 5px;
    font-size: 17px;
    height: 40px;
    width: 70px;
    margin: 15px 5px 5px 0;
}

img{
    border-radius: 10px;
    height: 150px;
    width: 150px;
}

.label{
    font-size: 30px;
    margin-top:  3px;
}

.dark{
    background-color: lightsteelblue;
}

.light{
    background-color: ghostwhite;
}

.ninja{
    background-color: darkGray;
}